body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a; /* Fundo bem escuro */
  overflow: hidden;
  position: relative;
}

body::before,
body::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(90px);
  z-index: -1;
}

body::before {
  width: 500px;
  height: 500px;
  background-color: #39FF14; /* Verde Neon principal */
  top: -200px;
  right: -200px;
  opacity: 0.4;
}

body::after {
  width: 600px;
  height: 600px;
  background-color: #00ff88; /* Tom de verde variado */
  bottom: -250px;
  left: -250px;
  opacity: 0.3;
}